In [23]:
import pandas as pd
import numpy as np
from pathlib import Path

In [24]:
df = pd.read_csv("./raw_data/data.csv")

In [25]:
df.head()

,Movie Name,Release Period,Whether Remake,Whether Franchise,Genre,New Actor,New Director,New Music Director,Lead Star,Director,Music Director,Number of Screens,Budget(INR),Revenue(INR)
0,Golden Boys,Normal,No,No,suspense,Yes,No,No,Jeet Goswami,Ravi Varma,Baba Jagirdar,5,5000000,85000
1,Kaccha Limboo,Holiday,No,No,drama,Yes,No,Yes,Karan Bhanushali,Sagar Ballary,Amardeep Nijjer,75,15000000,825000
2,Not A Love Story,Holiday,No,No,thriller,No,No,No,Mahie Gill,Ram Gopal Verma,Sandeep Chowta,525,75000000,56700000
3,Qaidi Band,Holiday,No,No,drama,Yes,No,No,Aadar Jain,Habib Faisal,Amit Trivedi,800,210000000,4500000
4,Chaatwali,Holiday,No,No,adult,Yes,Yes,Yes,Aadil Khan,Aadil Khan,Babloo Ustad,1,1000000,1075000

In [26]:
for index, row in df.iterrows():
    if "," in row["Movie Name"]:
        print (row["Movie Name"])

With Love, Delhi!
I, Me Aur Main
Oh, My God!!

In [27]:
#actors = {}
#directors = {}
#movies = {}
#actor = "name\n"
#director = "director\n"

movie = "name,release_period,remake,franchise,genre,screens,revenue,budget\n"

director_movie = "director,movie,new_director\n"
actor_movie = "actor,movie,new_actor\n"

for index, row in df.iterrows():
    actor = row["Lead Star"]
    director = row["Director"]

    movie_name = row["Movie Name"].replace(",", ".")

    new_actor = row["New Actor"]
    new_director = row["New Director"]
    
    director_movie += f"{director},{movie_name},{new_director}\n"
    actor_movie += f"{actor},{movie_name},{new_actor}\n"

    movie += f"{movie_name},{row['Release Period']},{row['Whether Remake']},{row['Whether Franchise']},{row['Genre']},{row['Number of Screens']},{row['Revenue(INR)']},{row['Budget(INR)']}\n"

In [28]:
Path("./data_for_neo4j").mkdir(parents=True, exist_ok=True)

In [29]:
output_file = open("./data_for_neo4j/movie.csv", 'w')
output_file.write(movie)
output_file.close()

In [30]:
output_file = open("./data_for_neo4j/director_movie.csv", 'w')
output_file.write(director_movie)
output_file.close()

output_file = open("./data_for_neo4j/actor_movie.csv", 'w')
output_file.write(actor_movie)
output_file.close()